/*
Bakrundsbild
*/
body{
    margin:0px;
    padding:0px;
    background-image: url("https://wallpaperplay.com/walls/full/a/6/7/59167.jpg");
    background-repeat: no-repeat;
   width: auto ;
  max-width: 100% ;
  height: auto ;
}
/*
Nav bar color
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050549fd;
  }
  /*
Float är vart allting ligger på sidan, Höger, vänster.
  */
  li {
    float: left;
  }
  /*
Nav bar. 
  */
  li a {
    display: block;
    color: white;
    font-size:20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /*
Länkarna blir ljusblå
  */
  li a:hover {
    background-color: #061869;
  }
/*
Rubrik
*/
.h1Stil{
 font-family:Berlin Sans FB;
 font-size:70px;
 color:rgb(221, 250, 93);
 text-align:center;

}
/*
Radius på bilden
*/
.imgStil{
    height:300px;
    width:600px;
    border-radius:10%;
    
}
/*
Brödatext 
*/
.pStil{
    font-family:Berlin Sans FB;
    font-size:25px;
    color:rgb(253, 247, 247);
    text-align:center;
   
} 